<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Real-time Web App</title>
  <link rel="stylesheet" href="/styles/default2.css">

</head>
<body>
  <ul id="messages"></ul>
  <form id="form" action="">
    <input id="input" autocomplete="off" /><button>Send</button>
  </form>

<div>Lobby Code: <%= lobby %>, Socket: <%= curSocket %> </div>



  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script>
    $(function () {
      const socket = io();
      $('form').submit(function(){
        socket.emit('chat message', $('#input').val());
        $('#input').val('');
        return false;
      });

      socket.on('chat message', function(msg){
        $('#messages').append($('<li>').text(msg));
      });


      
    });
  </script>
</body>
</html>

<!--Simple live update form that works well




io.on('connection', (socket) => {
    console.log('A user connected');
  
    socket.on('disconnect', () => {
      console.log('User disconnected');
    });
  
    // Handle custom events for real-time communication
    socket.on('chat message', (msg) => {
      console.log(msg);
      io.emit('chat message', msg); // Broadcast the message to all connected clients
    });
  });
  

original chat functions


-->